<form ng-submit="serieslist.selectFirstResult()" name="search.searchForm">
  <input type="text" focus-watch="'serieslist.searchingForSerie'" ng-model="search.query" ng-model-options="{debounce: 500}"  ng-change="search.search(search.query)" style='float:left; margin-left:10px; width:35%; margin-right:10px; font-size:20px; margin-top:-5px' translate-once-placeholder="SERIESLIST/TOOLS/ADDING/addshow-type-series-name/placeholder">
  <i ng-show="traktSearch.loadingSeries" class="glyphicon glyphicon-refresh"></i>
  <p class="protip"><span translate-once="SERIESLIST/TOOLS/ADDING/addshow-protip/lbl"></span></p>
</form>

<h1 style='text-align:center' ng-show="traktSearch.searching"><loading-spinner style='width:34px; height: 34px;'></loading-spinner><br><span translate-once="SERIESLIST/TOOLS/ADDING/addshow-start-typing/lbl"></span></h1>