<!-- seriesList.html -->
<div ng-class="{active: serieslist.activated, sidepanelActive: serieslist.spState == 1, sidepanelExpanded: serieslist.spState == 2}">
  <div ng-if="serieslist.activated">
    <div class="tools">
      <div class="tools-header">
        <div class="right-switches">
          <div class="tools_switch">
            <div class="view-as" ng-class="{'fadeout':serieslist.state.includes('favorites.add')}">
              View As:
              <span class="dropdown" dropdown on-toggle="toggled(open)">
                <span class="dropdown-toggle" dropdown-toggle>
                  <span ng-show="serieslist.mode == 'poster'">Poster</span>
                  <span ng-show="serieslist.mode == 'banner'">Banner</span>
                  <i class="caret"></i>
                </span>
                <span class="dropdown-items">
                  <span class="dropdown-item" ng-click="serieslist.setMode('poster')">Poster</span>
                  <span class="dropdown-item" ng-click="serieslist.setMode('banner')">Banner</span>
                  <span class="dropdown-item">List</span>
                </span>
              </span>
            </div>
            <div class="poster-size" ng-class="{'fadeout':serieslist.mode == 'banner'}">
              <!-- Make posters smaller button -->
              <span ng-click="serieslist.toggleSmall()">
                <i tooltip="{{serieslist.isSmall ? 'SERIESLIST/TOOLS/ADDING/make-posters-large/tooltip' : 'SERIESLIST/TOOLS/ADDING/make-posters-small/tooltip' |translate}}" tooltip-placement="bottom" class="glyphicon" ng-class="{'glyphicon-th-large':serieslist.isSmall, 'glyphicon-th': !serieslist.isSmall}"></i>
              </span>
            </div>
          </div>
        </div>
        <div class="header-main">
          <div class="header-main-inner">
            <div class="tools_btn" ng-class="{'active': serieslist.state.is('favorites')}">
              <a ui-sref="favorites" ng-click="serieslist.hideSidePanel()">Library</a>
            </div>
            <i class="dot"></i>
            <div class="tools_btn" ng-class="{'active': serieslist.state.includes('favorites.add')}">
              <a ui-sref="favorites.add">
                <span translate-once="SERIESLIST/TOOLS/FAVORITES/addshow-show/glyph"></span>
              </a>
            </div>
            <i class="dot"></i>
            <div class="tools_btn" ng-class="{'active': serieslist.state.is('favorites.search')}">
              <a ui-sref="favorites.search" ng-click="serieslist.hideSidePanel()">
                <span translate-once="SERIESLIST/TOOLS/FAVORITES/filter/glyph"></span>  Library
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div ui-view="tools" style="position:absolute;top:72px;width:100%;left:150px;z-index:3500"></div>
    <div ui-view="content"></div>
  </div>
</div>